# Listas

As listas fazem parte das mais importantes estruturas de dados usadas na programação.

Podemos definir as listas de três formas: em extensão, enumerando todos os seus elementos, por compreensão, através de propriedades que caraterizam os elementos ou, por fim, por repetição.

## Listas por extensão

Criação de uma lista por extensão:

```
planetas = [ 'Mercúrio', 'Vénus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Neptuno']
numeros = [ 2+2, 7-5, 7*2]
```

## Listas por compreensão 

A sintaxe para definir uma lista por compreensão é a seguinte:
```
lista = [expression for item in iterable if condition] 
```

O elemento __iterable__ pode ser qualquer sequência que se pode percorrer com um ciclo `for`, como conjuntos, listas, tuplos, dicionários ou funções que devolvam sequências. A função `range()`, por exemplo, devolve um __iterable__.

Um __iterable__ pode ser convertido diretamente para uma lista com `list()`, em vez de se usar a sintaxe anterior.

Ou seja, as seguintes expressões são equivalentes:

```
list(range(10,20))
[x for x in range(10,20)]
```

Para exemplos mais complicados, consulte a documentação do Python sobre [Listas por compreensão](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions).

## Listas por repetição

Esta forma é muito simples. Pega-se numa lista e multiplica-se pelo número de repetições desejada.

Uma lista com 10 zeros:

```
[0] * 10
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
```

Uma lista com 3 vivas:

```
[ 'viva' ] * 3
['viva', 'viva', 'viva']
```

Uma lista com 9 elementos:

```
[1, 2, 3] * 3
[1, 2, 3, 1, 2, 3, 1, 2, 3]
```

Pode-se escrever igualmente `3 * [1, 2, 3]`.

### Exemplos de listas por compreensão

In [55]:
res = []
for x in range(10,21):
    if x % 2 == 0:
        res.append(x)
print(res)

[10, 12, 14, 16, 18, 20]

In [51]:
res

[10, 12, 14, 16, 18, 20]

In [18]:
[x for x in range(10,21) if x %2 == 0]

[10, 12, 14, 16, 18, 20]

In [59]:
[x**2 for x in range(10,21) if x %2 == 0]

[100, 144, 196, 256, 324, 400]

In [58]:
list(range(10,21,2))

[10, 12, 14, 16, 18, 20]

Note que a função `range()` pode ser invocada de três formas:
- `range(stop)`
- `range(start, stop)`
- `range(start, stop, step)`

O valor `stop` fica de fora da lista.

As duas expressões seguintes geram a mesma lista.

In [1]:
[x**2 for x in range(5, 51) if x % 5 == 0]

[25, 100, 225, 400, 625, 900, 1225, 1600, 2025, 2500]

In [32]:
len(list(range(5, 51)))

46

A mesma lista, gerada de forma ligeiramente diferente.

In [40]:
[x**2 for x in range(5, 51, 5)]

[25, 100, 225, 400, 625, 900, 1225, 1600, 2025, 2500]

### Listas a partir de outras listas

No primeiro exemplo obtemos uma nova lista aplicando um tratamento a cada um dos elementos.

Em vez de `x for x`, usamos `x.upper() for x`.

In [6]:
planetas = [ 'Mercúrio', 'Vénus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Neptuno']
novos = [x.upper() for x in planetas]
print(novos)

['MERCÚRIO', 'VÉNUS', 'TERRA', 'MARTE', 'JÚPITER', 'SATURNO', 'URANO', 'NEPTUNO']

In [63]:
planetas = [ 'Mercúrio', 'Vénus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Neptuno']
novos = [len(x) for x in planetas]
print(novos)

[8, 5, 5, 5, 7, 7, 5, 7]

Aplicando um filtro:

In [64]:
planetas = [ 'Mercúrio', 'Vénus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Neptuno']
# novos = [x.upper() for x in planetas if x[len(x)-1] != "o" ]
novos = [x.upper() for x in planetas if x[-1] == "o" ]
print(novos)

['MERCÚRIO', 'SATURNO', 'URANO', 'NEPTUNO']

E exemplo seguinte mostra que a expressão não filtra. Apenas processa o elemento.

Em vez de `x for x`, usamos a expressão `x if x != "Terra" else x.upper() for x`. 

A expressão pode ser usada noutros contextos. Exemplo:

```
x = "Mercúrio"
x if x != "Terra" else x.upper()
```
Resultado:
```
'Mercúrio'
```

In [8]:
outros = [x if x != "Terra" else x.upper() for x in planetas]
print(outros)

['Mercúrio', 'Vénus', 'TERRA', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Neptuno']

In [9]:
[x for x in 'Kiev']

['K', 'i', 'e', 'v']

In [ ]:
[x.lower() for x in "Quem mexeu no meu queijo?" if x.isalpha()]

['q',
 'u',
 'e',
 'm',
 'm',
 'e',
 'x',
 'e',
 'u',
 'n',
 'o',
 'm',
 'e',
 'u',
 'q',
 'u',
 'e',
 'i',
 'j',
 'o']

In [3]:
"".join([x.lower() for x in "Quem mexeu no meu queijo?" if x.isalpha()])

'quemmexeunomeuqueijo'

### Listas de números aleatórios

Repare que o __iterable__ só serve para que a expressão seja executada um determinado número de vezes. Os valores do __iterable__ não são usados para nada.

In [8]:
import random
# [random.random() for _ in range(10)]
[random.random() for _ in planetas]

[0.5339111757663194,
 0.2647174071688483,
 0.15728246508867383,
 0.02878312440560349,
 0.02491814088310329,
 0.7817912007312261,
 0.20470060474807872,
 0.7387973774179378]

In [47]:
import random
import datetime

def data_ao_calha():
    ano = random.randint(2001, 2012)
    # primeiro gerar ano aleatório
    # saber se é bissexto
    dias_dos_meses = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    # dias_dos_meses = [ 31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if (ano % 4 == 0):
        dias_dos_meses[1] = 29
    # dias_dos_meses
    mes = random.randint(1, 12)
    # dia = random.randint(1, 31)
    # print("Saiu o mes = {}. Esse mês tem {} dias".format(mes, dias_dos_meses[mes-1]))
    dia = random.randint(1, dias_dos_meses[mes-1])
    # print(dia, mes, ano)
    return datetime.date(ano, mes, dia)

alunos = ['João', 'Maria', 'Manuel', 'António', 'Luisinho']
# list(zip( alunos, [data_ao_calha() for x in range(5)]))
fichas_aluno = {}
for x in alunos:
    fichas_aluno[x] = data_ao_calha(), (datetime.date.today() - data_ao_calha()).days
fichas_aluno

{'João': (datetime.date(2002, 4, 19), 4273),
 'Maria': (datetime.date(2007, 2, 2), 3801),
 'Manuel': (datetime.date(2009, 10, 13), 7208),
 'António': (datetime.date(2007, 3, 1), 6112),
 'Luisinho': (datetime.date(2005, 1, 15), 4276)}

In [42]:
[random.randint(0, 999) for _ in 'Kiev']

[12, 570, 642, 682]

### Expressão constante

In [12]:
almoço = ["batata" for x in range(10)]
print(almoço)

['batata', 'batata', 'batata', 'batata', 'batata', 'batata', 'batata', 'batata', 'batata', 'batata']

In [43]:
['batata'] * 10

['batata',
 'batata',
 'batata',
 'batata',
 'batata',
 'batata',
 'batata',
 'batata',
 'batata',
 'batata']

In [44]:
almoço = []
for x in range(10):
    almoço.append("batata")
print(almoço)

['batata', 'batata', 'batata', 'batata', 'batata', 'batata', 'batata', 'batata', 'batata', 'batata']

Igual lista seria obtida fazendo:

In [13]:
['batata'] * 10

['batata',
 'batata',
 'batata',
 'batata',
 'batata',
 'batata',
 'batata',
 'batata',
 'batata',
 'batata']

## Operadores de descompactar

In [67]:
a, b, c = ['feijão', 'lentilha', 'ervilha']

In [68]:
a, b, c

('feijão', 'lentilha', 'ervilha')

In [70]:
vegetais = ['feijão', 'lentilha', 'ervilha', 'beringela', 'soja', 'quinoa', 'trigo', 'aveia']
*outros,  = vegetais

In [49]:
outros

['feijão',
 'lentilha',
 'ervilha',
 'beringela',
 'soja',
 'quinoa',
 'trigo',
 'aveia']

In [71]:
primeiro, *_, ultimo = vegetais

In [72]:
primeiro, ultimo

('feijão', 'aveia')

In [20]:
*numeros, = range(10)

In [21]:
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
[*range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
nomes = ['Jorge', 'Gustavo', 'Pereira', 'Bastos', 'Rocha']
*meio, ultimo = nomes
print(ultimo, meio)
print(ultimo, ' '.join(meio))
print('{}, {}'.format(ultimo, ' '.join(meio)))

Rocha ['Jorge', 'Gustavo', 'Pereira', 'Bastos']
Rocha Jorge Gustavo Pereira Bastos
Rocha, Jorge Gustavo Pereira Bastos

In [71]:
nomes
ultimo = nomes[-1]
meio = nomes[:-1]
print(ultimo, meio)
print(ultimo, ' '.join(meio))

Rocha ['Jorge', 'Gustavo', 'Pereira', 'Bastos']
Rocha Jorge Gustavo Pereira Bastos

In [80]:
nome = "Jorge Gustavo Pereira Bastos Rocha"
a, b, *c, d = nome.split()
c

['Pereira', 'Bastos']

**Exercício**

Escreva uma função Python que pega no nome completo de uma pessoa, e devolve o nome escrito da forma: "Apelido, Nomes próprios".

Ou seja, se o nome for 'Jorge Gustavo Rocha', devolve 'Rocha, Jorge Gustavo'.

In [73]:
def apelido(nome):
    nomes = nome.split()
    *meio, ultimo = nomes
    return '{}, {}'.format(ultimo, ' '.join(meio))

In [74]:
apelido("Ana Isabel Faria")

'Faria, Ana Isabel'

**Exercício**

Escreva uma função Python `limpaEspaços` que pegue numa frase qualquer e devolve a mesma frase, sem os espaços, se houver. 

Por exemplo, se a frase for: "Quem mexeu no meu queijo?", o valor retornado seria: "Quemmexeunomeuqueijo?"

In [16]:
f = "Quem mexeu no meu queijo?"
# print(''.join(f.split()))

'Quemmexeunomeuqueijo?'

In [15]:
def limpaEspaços(frase):
    # return frase.replace(' ', '')
    # return ''.join(f.split())
    return ''.join([ x for x in frase if x != ' '])

In [16]:
limpaEspaços("Viva o nosso querido professor!")

'Vivaonossoqueridoprofessor!'

**Exercício**

Escreva uma função Python `limpaVogais` que pegue numa frase qualquer e devolve a mesma frase, sem as vogais (a, e, i, o, u), se houver. 

Por exemplo, se a frase for: "Quem mexeu no meu queijo?", o valor retornado seria: "Qm mx n m qj?"

In [17]:
vogais = 'aeiou'
'a' not in vogais

False

**Exercício**

Escreva uma função Python que pegue numa frase, contendo espaços, maiúsculas e minúsculas e verifique se é um [palíndromo](https://pt.wikipedia.org/wiki/Pal%C3%ADndromo). Use, por exemplo, a frase: "A base do teto desaba".

Para facilitar as comparações, use o módulo `unidecode` para remover os acentos.

Exemplo de utilização:
```
import unidecode
s = "António Peçanha Conceição"
```
Pode ser usado nas seguintes formas:

```
unidecode.unidecode(s)
[unidecode.unidecode(x) for x in s]
```

In [81]:
import unidecode
# frase = 'A base do teto desaba'
frase = 'Socorram-me! Subi no ônibus em Marrocos'
semacentos = unidecode.unidecode(frase)
limpa = [x.lower() for x in semacentos if x.isalpha()]
print(limpa)
print(list(reversed(limpa)))
limpa == list(reversed(limpa))

['s', 'o', 'c', 'o', 'r', 'r', 'a', 'm', 'm', 'e', 's', 'u', 'b', 'i', 'n', 'o', 'o', 'n', 'i', 'b', 'u', 's', 'e', 'm', 'm', 'a', 'r', 'r', 'o', 'c', 'o', 's']
['s', 'o', 'c', 'o', 'r', 'r', 'a', 'm', 'm', 'e', 's', 'u', 'b', 'i', 'n', 'o', 'o', 'n', 'i', 'b', 'u', 's', 'e', 'm', 'm', 'a', 'r', 'r', 'o', 'c', 'o', 's']

True

### Transformação de listas com `map()`

A função `map()` permite aplicar uma função a um __iterable__. Retorna um __iterable__.

In [21]:
nomes = ["Jorge", "Gustavo", "Rocha"]
list(map(len, nomes))

[5, 7, 5]

In [24]:
def quadrado(num):
    return num**2
   
quadrados = list( map( quadrado, range(10) ) )
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Expressões lambda

As expressões lambda referem-se a funções anónimas. Não é preciso definir a função previamente. Basta escrever a expressão lambda pretendida.

In [22]:
cubos = list( map( lambda x:x**3, range(10) ) )
print(cubos)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

**Exercício**

Dada um lista de strings, some os seus elementos.

Faça um teste com a seguinte lista:
```
numeros = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]
```

In [27]:
numeros = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]
sum([int(x) for x in numeros])

52

**Exercício**

Escreve uma função que pega numa frase e num dicionário de traduções.

A função deve retornar a frase com as palavras traduzidas.

O dicionário de tradução deve ter a seguinte forma:

```
{
	"a": "the",
	"maça": "maça",
	"bola": "ball",
	"é": "is",
	"blue": "azul",
	"red": "vermelha"
}
```

Exemplo: Se a frase for "A bola é azul" e o dicionário for o exemplificado, o resultado será: "the ball is blue".

In [ ]:
test_str = "A bola é azul"
lookp_dict = {
	"a": "the",
	"maça": "maça",
	"carro": "car",
	"bola": "ball",
	"é": "is",
	"azul": "blue",
	"vermelha": "red"
}
temp = test_str.split()
res = []
for wrd in temp:
    res.append(lookp_dict.get(wrd.lower(), wrd))
print(' '.join(res))

the ball is blue